<!DOCTYPE html>
<html>
<head>
  <title>Data uploader</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "data_uploader/application", media: "all" %>
  <%= javascript_include_tag "data_uploader/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
